#my-photo {
  height : 250px;
  width : 400px;
  }
   
 


#left {
  flex-basis: 200px;
  background-color: darkblue;
}

#right {
  flex-grow: 1;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}

header {
  background-color: firebrick;
}

main {
  background-color: azure;
  flex-grow: 1;
}

footer {
  background-color: red;
  flex-basis: 40px;
}
#quoteText {
     color: red;
    }