* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 100%;
    border: 40px solid #434343;
    height: 500px;
    width: 600px;
    background-color: #434343;
    display: flex;
    flex-wrap: wrap;

}
.yellow, .blue, .green, .red {
    border: 8px solid #434343;

}
.yellow {
    background-color: #fffb25;
    flex-basis: 200px;
    flex-grow: 1;
}
.green {
    background-color: #5dc587;
    flex-basis: 200px;
    flex-grow: 1;
}
.red {
    color: white;
    font-size: 30px;
    background-color: #E65E63;
    /*flex-basis: 200px;*/
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title {
    text-align: center;
}
#blue-container {
    flex-grow: 2;
    /*flex-basis: 180px;*/
    display: flex;
    flex-direction: column;
}
.blue {
    background-color: #509ebe;
    flex-grow: 1;
}

@media screen and (max-width: 600px) {

    #blue-container {
        flex-basis: 100%;
    }

}